*,::before,::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


body{
background-color: blue;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

img:not(.logo){
  width:100%;/*Applies mostlty to the background image*/
}

img{
  display: block;
}

@media screen and (min-width:800px){

  h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }

  body{
      font-size: 1rem;
  }
}

/*Scroll---*/

nav{
  padding:1rem 1.5rem;
  border: 3px solid rgba(39, 69, 85, 0.65);
  z-index: 1000;
  background:rgb(113, 163, 185);
}

.fixed-nav{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 1000;
  background:rgb(113, 163, 185);
}



.nav-header{
  display: flex;
  align-items: center;
  justify-content:flex-end;
}


.nav-toggle{
  background: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}



.nav-toggle .bar{
  background-color: #ffd700;
  height:6px;
  width:30px;
  margin:5px 0;
  border:2px solid #f67607;
}

.logo{
  height:50px;
}

.links-container{
  height:0;
  overflow: hidden;
  transition:all 0.3s linear;
}

.links .scroll-link{
  display: block;
  color: #ffd700;
  font-size: 1.1rem;
  padding:0.75rem 0; 
  font-weight: bold;
  font-family: "Press Start 2P", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25rem; 
  transition: all 100ms linear; 
}

.show-links{
  height:200px;
}


@media screen and (min-width:1100px){
  nav{
    background:rgb(113, 163, 185);
    z-index:1000;
    border: 3px solid rgba(0, 0, 0, 0.65);
  }

  .nav-center{
      width:90vw;
      max-width: 1170px;
      margin:0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

   .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }

    .links-container {
      height: auto !important;
    }
    .links {
      display:flex;
    }

    .links .scroll-link{
      display: block;
      font-size: 1.1rem;
      letter-spacing: 0.25rem;
      transition:all 0.3s linear;
      margin:0 1rem;
      font-weight: bold;
      padding:0;
    }

    .links .scroll-link:hover{
      text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
      -webkit-text-stroke-width: 1px; /* Set the width of the black border */
      -webkit-text-stroke-color: #f67607;
  }
}

@media (max-width:800px) {
.links .scroll-link:active{
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke-width:1px; /* Set the width of the black border */
  -webkit-text-stroke-color: rgb(254, 140, 0);
  font-size: 1.2rem;
  transition:all 50ms linear;
}
}



main{
height:60vh;
display: flex;
justify-content: center;
align-items: center;
}

.about{
padding:10%;
height:80%;
}

.about h2{
font-family: "Press Start 2P", sans-serif;
text-align: center;
margin:10px;
color: white;

}

.text{
font-family: "Press Start 2P", sans-serif;
line-height: 1.5;
}


.text:hover{
color: rgba(255, 255, 255, 0.618);
cursor: pointer;
}

.fade{
animation:fade 2s ;
}

@keyframes fade{
from{
  opacity:0;
}
to{
  opacity:1;
}
}

.footer{
  margin-top:200px;
  height:200px;
  background:rgb(113, 163, 185);
  display: flex;
  justify-content: center;
  align-items: center;
}