*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    background-color: beige;
    height:200vh;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.25rem;
}

p{
    margin-bottom: 1.25rem;
}

h4{
    font-size: 0.875rem;
}

img:not(.logo){
    width:100%;/*Applies mostlty to the background image*/
}

img{
    display: block;
}

@media screen and (min-width:800px){

    h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.75rem;
      }
      h4 {
        font-size: 1rem;
      }

    body{
        font-size: 1rem;
    }
}

/*Scroll---*/

nav{
    padding:1rem 1.5rem;
    border: 3px solid rgba(39, 69, 85, 0.65);
    z-index: 1000;
    background:rgb(113, 163, 185);
}

.fixed-nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
    background:rgb(113, 163, 185);
}



.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-toggle{
    background: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
}



.nav-toggle .bar{
    background-color: #ffd700;
    height:6px;
    width:30px;
    margin:5px 0;
    border:2px solid #f67607;
}

.logo{
    height:50px;
}

.links-container{
    height:0;
    overflow: hidden;
    transition:all 0.3s linear;
}

.links .scroll-link{
    display: block;
    color: #ffd700;
    font-size: 1.1rem;
    padding:0.75rem 0; 
    font-weight: bold;/* Bright yellow color */
    font-family: "Press Start 2P", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem; /* Retro font */ /* Adjust font size */ /* Convert text to uppercase */ /* Increase letter spacing */
    transition: all 100ms linear; 
}

.show-links{
    height:200px;
}


@media screen and (min-width:800px){
    nav{
      background:rgb(113, 163, 185);
      z-index:1000;
      border: 3px solid rgba(0, 0, 0, 0.65);
    }

    .nav-center{
        width:90vw;
        max-width: 1170px;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

     .nav-header {
        padding: 0;
      }
      .nav-toggle {
        display: none;
      }

      .links-container {
        height: auto !important;
      }
      .links {
        display:flex;
      }

      .links .scroll-link{
        display: block;
        font-size: 1.1rem;
        letter-spacing: 0.25rem;
        transition:all 0.3s linear;
        margin:0 1rem;
        font-weight: bold;
        padding:0;
      }

      .links .scroll-link:hover{
        text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
        -webkit-text-stroke-width: 1px; /* Set the width of the black border */
        -webkit-text-stroke-color: #f67607;
    }
}

@media (max-width:800px) {
  .links .scroll-link:active{
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width:1px; /* Set the width of the black border */
    -webkit-text-stroke-color: rgb(254, 140, 0);
    font-size: 1.2rem;
    transition:all 50ms linear;
  }
}

header{
    min-height: 100vh;
    background:linear-gradient(rgba(211, 211, 112, 0.434), rgba(109, 109, 109, 0.192)),url(supermarioG.gif);
    background-repeat: no-repeat;
    background-size: cover;   
}

/*banner + titles*/

.banner{
    min-height: 100vh;
    display:grid;
    place-items: center;
    text-align: center; 
}

.container h1 {
    font-family: "Press Start 2P", system-ui; /* Use Press Start 2P font */
    color: #ffd700; /* Bright yellow color */
    font-size: 2.5rem; /* Increase font size */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width: 1px; /* Set the width of the black border */
    -webkit-text-stroke-color: rgb(254, 140, 0); /* Se /* Add a subtle shadow */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Increase letter spacing */
    line-height: 1.2;
    animation: pulse 2s infinite;
  }


  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .container p {
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: #fff; /* Bright white color */
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    text-shadow:3px 3px 10px rgb(137, 112, 3);
  }


  .btn {
    background-color: #ffbe09; /* Brown color similar to the surprise box */
    color: #fff; /* White text color */
    font-family: "Press Start 2P", sans-serif; /* Retro font */
    font-size: 16px; /* Adjust font size as needed */
    padding: 10px 20px; /* Add padding for button size */
    border: 2px solid #f67607; /* Black border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    text-transform: uppercase; /* Convert text to uppercase */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition:all 100ms linear;
  }

  .btn:hover{
    border: 3px solid #f67607;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width: 1px; /* Set the width of the black border */
    -webkit-text-stroke-color: #f67607;/* Set the color of the black border */
    font-size: 18px;

  }

